html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: small;
  font-weight: 200;
  font-family: helvetica, sans-serif;
}

img,
.kontejner {
  border-radius: 8px 8px 0 0;
}

.kontejner {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283e50;
  width: 300px;
  margin: 70px auto;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

p {
  text-align: center;
  padding: 20px 15px;
  margin: O 0;
  font-size: 14px;
  line-height: 1.5;
}

.tlacitka {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: helvetica, sans-serif;
}

.tlacitka li {
  display: inline-block;
  text-align: center;
}

.pravidla {
  background-color: #1fcca4;
  width: 300px;
  height: 60px;
  border-bottom: #283e50 2px solid;
}
.pravidla a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
.pravidla a:hover {
  background-color: #1cbb96;
}

.hrat {
  background-color: #0197f6;
  width: 300px;
  height: 60px;
}

.hrat a {
  display: block;
  padding: 10px;
  text-decoration: none;
  padding: 20px;
}

.hrat a:hover {
  background-color: #0090e9;
}

/* --------------------pravidla ------------- */

.kontejner__pravidla {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283e50;
  width: 300px;
  margin: 70px auto;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.seznam {
  text-align: left;
  padding: 20px 15px;
  margin: O 0;
  font-size: 14px;
  line-height: 1.5;
}

figure {
  padding: 15px 20px;
}

figure img {
  width: 100%;
}

figure figcaption {
  margin-top: 2%;
  font-style: italic;
}

@media screen and (min-width: 750px) {
  .kontejner__pravidla {
    width: 700px;
  }
  .priklady__flex {
    display: flex;
    flex-wrap: wrap;
  }
  .figure {
    flex-basis: 50%;
  }
}
