html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: small;
  font-weight: 200;
  font-family: helvetica, sans-serif;
  color: #ffffff;
}

.obrazek img,
.kontejner {
  border-radius: 8px 8px 0 0;
}

.kontejner {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 300px;
  margin: 70px auto;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 4rem;
}

p {
  text-align: center;
  padding: 20px 15px;
  margin: O 0;
  font-size: 14px;
  line-height: 1.5;
}

/*---------tlačítka------------*/
.tlacitka {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.tl__pravidla,
.tl__hrat,
.tl__uvodStr {
  text-decoration: none;
  padding: 10px 0;
  color: white;
}

.tl__pravidla,
.tl__uvodStr {
  background-color: #1fcca4;
  border-bottom: #283e50 2px solid;
}

.tl__hrat {
  background-color: #0197f6;
}

.tl__pravidla:hover,
.tl__pravidla:uvodstr {
  background-color: #1cbb96;
}

.tl__hrat:hover {
  background-color: #0090e9;
}

/* --------------------pravidla ------------- */

.kontejner__pravidla {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  margin: 70px auto;
  border-radius: 8px 8px 0 0;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.seznam {
  width: 100%;
  padding-left: 20px;
  line-height: 2;
}
.seznam li {
  list-style-type: decimal;
  padding: 0 30px 0 15px;
}
.priklady_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px;
  margin: O 0;
  font-size: 14px;
  line-height: 1.5;
}

figure {
  padding: 15px 20px;
  width: 100%;
  margin: 0;
}

figure img {
  width: 100%;
}

figure figcaption {
  margin-top: 2%;
  font-style: italic;
  text-align: center;
}

/* -------------responzivní---------------*/

@media screen and (min-width: 540px) {
  .kontejner__pravidla {
    width: 700px;
  }
  .priklady__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  figure {
    width: 45%;
  }
}



/* --------------HRA------------------*/

.kontejner__hra {
  max-width: 80vmin;
  margin: 25px auto;
  height: 100%;
}

/* ---------------navigace-----------------*/

.navigace {
  display: flex;
  justify-content: space-between;
}

.navigace__vlevo p {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0px;
  padding: 0 0.3rem 0 0;
}
.circle__big {
  height: 1.3rem;
  filter: invert(100%);
}

.navigace__vpravo a {
  padding: 1.1rem 0.6rem 0.6rem 0.6rem;
  margin: 0 0.6rem 0 0;
}

.ikona__uvodStr {
  background-color: #1fcca4;
  border-radius: 15%;
  text-decoration: none;
}

.ikona__hrat {
  background-color: #0197f6;
  border-radius: 20%;
}

.ikona__uvodStr:hover {
  background-color: #1cbb96;
}

.ikona__hrat:hover {
  background-color: #0090e9;
}

/* ---------------herní pole-----------------*/

.ctverce__hra {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: 75vmin;
}

.ctverec {
  border: 1px solid black;
  flex: calc(100% / 10);
  cursor: pointer;
  opacity: 0.5;
}

.ctverec:hover,
.ctverec:active {
  opacity: 0.8;
}
